<!--doctype html>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> -->

<!doctype html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
   <meta name="msapplication-TileColor" content="#ffffff">
   <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
   <meta name="theme-color" content="#ffffff">
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Alfa+Swlab+One|Roboto+Mono:300,300i,400,400i,500,700" rel="stylesheet">
   <title>NBA Predict</title>
    <script type="text/JavaScript">
    function showName(){
    	var segment_str = window.location.pathname;
		var segment_array = segment_str.split( '/' );
		var last_segment = segment_array.pop();
        display_name.innerHTML= last_segment;
    }
    </script>
</head>
<body onload="showName();">

   <div align="middle">
      <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" height="118" width="320"></br></br></br></br>
      <div style="padding-left: 0">
      <!--
         <div class="card-form">.  WE CAN ADD THE SEARCH BOX IN LATER
            <form class="signup">
               <div class="form-body">
                  <div class="row">
                     <input type="text" placeholder="Enter Player's Name" id="name">
                  </div>
               </div>
               <div class="form-footer" onclick="showName()" value="submit">
                  <a>Predict</a>
               </div>
            </form>
         </div>
      </div> -->
   </div>
   </br></br>
   <div style="padding-left: 275px">
      <div style="text-align: left">
         <h1><span id = "display_name"></h1>
         <!--<h1>Prediction: {{ prediction }}</h1>-->
         <h2>has a <span id="potential">superstar</span> potential of</h2>
         <h3>{{ prediction }}</h3>
         <!--
         <h2>the longform ___________________</h2>
         </br>
         <h4><b>0.6</b> potential of scoring development (POSDEV)</h4>
         <h4><b>0.7</b> efficiency composite (ECOM)</h4>
         <h4><b>0.6</b> value composite (VALCOM)</h4>
         <h4><b>0.5</b> longterm durability projection (LODUP)</h4>
         <h4><b>0.7</b> injury/demotion projection (INDEMP)</h4> -->
      </div>
   </div>
   </br></br> <!--
   <p><b>Jaylen Brown</b> appears to be an incredible athletic player with an high upside and</br> 
      is a great finisher in the paint. <b>Jaylen Brown</b> is mediocre from <b>3pt range</b> for a</br>
      <b>forward</b> with <b>23% usage</b>
   </p>
   -->
   <footer>
      <div id="container" style="display: inline">
         <a href="http://github.com/sidharthrajaram">sidharth rajaram</a></br>
         <a href="http://github.com/sudeeprao">sudeep rao</a></br>
         <div align="right" style="padding-right: 275px">
            <a href="https://github.com/sidharthrajaram/NBA-Predict"><img src="assets/github.png" alt="Check us out on Github" style="width:32px;height:32px;"></a>
         </div>
      </div>
   </footer>
</body>
</html>