<!--doctype html>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> -->
<!doctype html>
<head>
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
   <meta name="msapplication-TileColor" content="#ffffff">
   <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
   <meta name="theme-color" content="#ffffff">
   <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Alfa+Swlab+One|Roboto+Mono:300,300i,400,400i,500,700" rel="stylesheet">
   <title>NBA Predict</title>
  <script type="text/JavaScript">
      var segment_str = window.location.pathname;
      var segment_array = segment_str.split( '/' );
      var last_segment = segment_array.pop();
      var replaced = last_segment.replace(/%20/g, " ");
      var uniform = replaced.toLowerCase();
      function showName(){
      var segment_str = window.location.pathname;
      var segment_array = segment_str.split( '/' );
      var last_segment = segment_array.pop();
      var replaced = last_segment.replace(/%20/g, " ");
      console.log( decodeURI(replaced) );
      var uniform = replaced.toLowerCase();
      display_name.innerHTML= uniform;
      }
      function search(){
        var loc = window.location;
        var name = document.getElementById("name").value;
        window.location = name;
      }
   </script>
</head>
<body onload="showName();">
   <div align="middle">
      <a href="https://github.com/sidharthrajaram/NBA-Predict" target="_blank"><img src="{{ url_for('static', filename='predictlogo.png') }}" alt="Logo" height="118" width="500"></a>
      </br></br></br></br>
      <div class="card-form">
         <form class="signup">
            <div class="form-body">
               <div class="row">
                  <input type="text" placeholder="Enter Player's Name" id="name">
               </div>
            </div>
            <div class="form-footer" onclick="search()" value="submit" id="name">
               <a>Predict</a>
            </div>
         </form>
      </div>
   </div>
   </div>
   </div>

   <div align="center">
         <!--<h1>Prediction: {{ prediction }}</h1>-->
         <div style="padding-top: 50px">
            <div style="padding-bottom: 60px">
               <h2>We weren't able to get this player's stats!</h2>
            </div>
         </div>
         <!--
            <h2>the longform ___________________</h2>
            </br>
            <h4><b>0.6</b> potential of scoring development (POSDEV)</h4>
            <h4><b>0.7</b> efficiency composite (ECOM)</h4>
            <h4><b>0.6</b> value composite (VALCOM)</h4>
            <h4><b>0.5</b> longterm durability projection (LODUP)</h4>
            <h4><b>0.7</b> injury/demotion projection (INDEMP)</h4> -->
      </div>
   </div>


   <div align="center">
      <iframe src="https://discordapp.com/widget?id=341821834251206667&theme=dark" width="325" height="250" allowtransparency="true" frameborder="0"></iframe>
    </div>

   </br> 

   <div align="center">
   <footer>
      <a href="http://github.com/sidharthrajaram">sidharth rajaram</a></br>
      <a href="http://github.com/sudeeprao">sudeep rao</a></br>
      <a href="http://github.com/shivansal">shiv ansal</a></br>

      <!--<div align="right" style="padding-right: 275px">-->
      <!--   <a href="https://github.com/sidharthrajaram/NBA-Predict"><img src="assets/github.png" alt="Check us out on Github" style="width:32px;height:32px;"></a>-->
      <!--</div>-->

      <div align="center" style="padding-top: 20px; width: 70%; line-height: 90%;">

      <a style="color:gray; font-size: 12px;">All predictions and ratings are not promised to be representative of exactly how
      good each respective player will actually become (but we shall try our best). NBA-Predict is just a
      fun summer project which in no way is intended to make certain players look worse than others.
      All predictions and ratings are based off factual data. Our prediction model is oriented around
      favoring numerical, statistical prowess. Things like importance of games and presence of the "killer instinct"
      are never accounted for.</a>

      </div>

   </footer>
   </div>

</body>
</html>
